@charset "UTF-8";
.container-fluid>.row{
	position:relative;
}
.left{
	float:left;
}
.right{
	float:right;	
}
.nav-login{
	border-bottom:1px solid #f1f1f1;
	line-height:2em;
}
.nav-login div {
	display:block;
}
.nav-login div>a{
	margin-left:15px;
	color:#515050;
	font-size:0.8em;
}
.nav-login div>a:hover{
	text-decoration:none;
}
.ul-share{
	list-style:none;
	display:inline;
	margin:0;
	padding: 0;
	vertical-align:text-bottom;
}
.ul-share li{
	display:inline-block;
	margin-right:8px;
}
.icon-share-weibo{
 	background-position:-40px -4px;
 }
 .icon-share-wechart{
 	background-position:-40px -41px;
 }
 .icon-share-qq{
 	background-position:-0px -42px;
 }
[class*=icon-share-]{
   display: inline-block;
   background-image: url(../img/327785.png);
   background-repeat: no-repeat;
   width: 26px;
   height: 26px;
   vertical-align: middle;
   border-radius: 2px;
   background-size: auto 80px 
}
[class*=icon-share-]:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}

.nav-logo{
	// line-height:80px;
	padding:0;
	// border-bottom:1px solid #f1f1f1;
}

.nav-logo a{
	display:block;
	height:80px;
	color:#515050;
}
.nav-logo a img{

	width:70px;
}

#navbar-collapse-1{

}
#navbar-logo{
	background-color:transparent !important;
	border:0px !important;
}
#navbar-collapse-1 a{
	line-height:80px;
	font-size:16px;
}
#navbar-collapse-1 a:hover{
	background-color:transparent !important;
	color:#5087f8;
}